* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  height: calc(120px + 32px);
  padding-top: 32px;
}

header figure {
  width: 120px;
  display: flex;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45c 100%);
  border-radius: 50%;
  margin: auto;
  padding: 4px;

  transition: transform .3s;
}

header figure:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 32px auto;
}

section {
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45c 100%);
  color: #fff;
  border-radius: 10px;
  padding-top: 4px;
}

section div {
  background-color: #2A2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  color: #A1A1AA;
  letter-spacing: -0.18px;
}

section ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 96px;
  border-radius: 8px;
}

.channel-list img {
  width: 70px;
  border: 1px solid #443E54;
  border-radius: 50%;
}

/* Animation - Animações */

header figure {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: -4s;
}

main section:nth-child(3) {
  animation-delay: -8;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}